.messageInput {
  flex: 5;
  padding: 0.8rem;
  border: none;
  border-radius: 1.5rem;
  border: 1px solid black;
  font-size: 1.3rem;
}
.messageInput:focus {
  outline: none;
  border-radius: 1.5rem;
  border: 2px solid #f14e75;
}
.messageButton {
  font-size: 1.2rem;
  flex: 1;
  margin-left: 0.8rem;
  border-radius: 1.5rem;
  background-color: #f14e75;
  color: white;
  padding: 1.3rem;
  border: 1px solid white;
}
.messageButton:focus {
  outline: none;
  border-radius: 1.5rem;
  border: 2px solid black;
}
@media (max-width: 1000px) {
  .messageInput {
    width: 80%;
    align-self: center;
  }
  .messageButton  {
    width: 20%;
  }
}
@media (max-width: 450px) {
  .messageInput {
    width: 90%;
    align-self: center;
    padding: 0.5rem;
    font-size: 0.8rem;
  }
  .messageButton  {
    width: 90%;
    margin-top: 0.6rem;
    margin-left: 0;
    padding: 0.5rem;
    align-self: center;
    font-size: 0.8rem;
  }
}