* {
  --background-color-main: #0047ad;
  --image-font-color: #f3542d;
  --button-color: #f14e75;
  --input-style: rgb(46, 101, 173);
}
.chatlist {
  width: 80%;
  background-color: rgba(179, 172, 172, 0.048);
}
.chatlist h1 {
  width: 100%;
  font-size: 3rem;
  padding: 2rem;
  color: var(--image-font-color);
  position: relative;
}
.chatlist h1::after {
  content: "";
  top: 0;
  bottom: 0.4rem;
  left: 0;
  right: 0;
  margin: auto;
  border-bottom: 2px solid var(--input-style);
  opacity: 0.4;
  position: absolute;
}
.chats {
  padding: 2rem 4rem;
  width: 90%;
  margin: 2.5rem auto;
  list-style-type: none;
}
.chats li {
  width: 100%;
  position: relative;
  border-bottom: 2px solid var(--input-style);
  margin-bottom: 2.3rem;
  display: flex;
  justify-content: space-between;
}

.links {
  text-decoration: none;
  font-size: 1.8rem;
}

.modalButton {
  border: none;
  cursor: pointer;
  padding: 0.4rem;
  background-color: white;
  font-size: 2rem;
  color: black;
  align-self: flex-end;
  cursor: pointer;
  margin-right: 0.5rem;
}
.modalButton:hover {
  color: red;
}
.modalButton:focus {
  outline: none;
  border-radius: 1.2rem;
  border: 1px solid white;
}
