.messageWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 0.5rem;
}
.messageWrapper p {
  word-break: break-all;
}
.message {
  width: 30%;
  border-radius: 1.5rem;
  background-color: rgb(46, 101, 173);
  padding: 1.6rem;
  font-size: 1.2rem;
  color: white;
  align-self: flex-start;
}
.ownMessage {
  width: 30%;
  border-radius: 1.5rem;
  background-color: rgba(179, 172, 172, 0.637);
  padding: 1.6rem;
  font-size: 1.2rem;
  color: black;
  margin-right: 0.5rem;
}

.nickname {
  text-transform: capitalize;
}
.message .nickname {
  color: red;
}
@media (max-width: 1000px) {
  .message {
    width: 60%;
  }
  .ownMessage {
    width: 60%;
  }
}
@media (max-width: 450px) {
  .message {
    width: 85%;
    padding: 0.8rem;
    font-size: 1rem;
    align-self: center;
  }
  .ownMessage {
    width: 85%;
    font-size: 1rem;
    padding: 0.8rem;
    align-self: center;
  }
}
