@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --background-color-main: #0047ad;
  --image-font-color: #f3542d;
  --button-color: #f14e75;
  --input-style: rgb(46, 101, 173);
}
body {
  font-family: "Raleway", sans-serif;
  width: 100%;
}
.container {
  display: flex;
  min-height: 100vh;
}
.image {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.logo {
  font-size: 3rem;
  align-self: flex-end;
  margin-bottom: 2.1rem;
  color: var(--image-font-color);
  letter-spacing: 0.2rem;
  padding: 1.2rem;
  margin-bottom: 5rem;
}
img {
  width: 100%;
  max-width: 900px;
  margin-bottom: 1.5rem;
}

.image h2 {
  font-size: 2.2rem;
  margin-bottom: 0.4rem;
  color: var(--image-font-color);
}
.image p {
  font-size: 1.8rem;
  width: 80%;
}
.welcome {
  width: 40%;
  background-color: var(--background-color-main);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome h3 {
  padding: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: calc(15% - 30px);
}
.welcome p {
  font-size: 1.4rem;
  padding: 1.2rem;
}
.registerForm {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.registerForm label {
  margin: 0.8rem 0;
  font-size: 1.2rem;
}
.registerForm input {
  padding: 0.9rem;
  margin-bottom: 0.9rem;
  background-color: var(--input-style);
  border: 2px solid rgba(255, 255, 255, 0.582);
  font-size: 1rem;
  color: white;
}
.registerForm input:focus {
  border: 2px solid var(--button-color);
  outline: none;
}
.registerForm input::placeholder {
  color: rgba(255, 255, 255, 0.37);
}
.registerButton {
  margin-top: 1.2rem;
  width: 80%;
  align-self: center;
  color: white;
  padding: 1.2rem 0;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  border: 2px solid rgba(255, 255, 255, 0.61);
  background-color: var(--button-color);
}
.loginLink {
  padding: 2rem;
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
}
.loginLink:hover {
  color: var(--button-color);
  font-size: 1.5rem;
  transition: 300ms ease;
}
.registerButton:hover {
  color: var(--input-style);
  background-color: white;
  transition: 200ms;
}
.registerButton:focus {
  outline: none;
  border: 2px solid var(--image-font-color);
  border-radius: 1.5rem;
  background-color: white;
  color: var(--input-style);
  transition: 200ms;
}
.loginLink:focus {
  color: var(--button-color);
  font-size: 1.5rem;
  transition: 300ms ease;
  outline: none;
}
.error {
  margin-top: 0.2rem;
  text-align: center;
  color: red;
}
@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .image {
    width: 100%;
  }
  .welcome {
    width: 100%;
  }
  .logo {
    align-self: center;
  }
  .image p {
    width: 100%;
    text-align: justify;
  }
}
